*
!.gitignore


!.local/
!.local/*
!.local/share
!.local/share/icons
!.local/share/icons/*
!.local/share/icons/Bibata
!.local/share/icons/Bibata/*
!.local/share/icons/Bibata/hyprcursors
!.local/share/icons/Bibata/hyprcursors/*


!.config/
!.config/foot/
!.config/foot/*
!.config/tmux/
!.config/tmux/*
!.config/mako/
!.config/mako/*
!.config/waybar/
!.config/waybar/*
!.config/home-manager/
!.config/home-manager/*
!.config/wezterm/
!.config/wezterm/*
!.config/kitty/
!.config/kitty/*
!.config/fuzzel/
!.config/fuzzel/*
!.config/hypr/
!.config/hypr/*
!.config/hypr/scripts
!.config/hypr/scripts/*
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/byda/
!.config/nvim/lua/byda/*
!.config/nvim/lua/byda/lazy/
!.config/nvim/lua/byda/lazy/*
!.config/nvim/lua/byda/config/
!.config/nvim/lua/byda/config/*
!.tmux.conf
!.bashrc
!.profile

